.ProjectPreview {
  margin: 0 5px 20px 0;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PreviewInfo {
  background-color: grey;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.ProjectPreview img {
  width: 100%;
  border-radius: 5px;
}



