.ProjectsContainer {
  padding-top: 25px;
  transition: 0.3s ease-in-out;
}

.ProjectsContainer h2 {
  margin-bottom: 5px;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}

.ProjectsCategory {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
  .ProjectsContainer h2 {
    font-size: 2em;
  }
}