.ExperiencesContainer {
  padding: 20px 0;
  border-top: 1px solid grey;
}

.ExperiencesContainer h1 {
  text-align: center;
  color: #fff;
  cursor: pointer
}

.ExpWrapper {
  margin-top: 20px;
}

@media screen and (min-width: 450px) {
  .ExperiencesContainer h1 {
    font-size: 2.5em;
  }
}