.ExperienceInfo {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #fff;
}
.ExperienceInfo .icon {
  margin-right: 10px;
}
.Experience h3 {
  text-transform: uppercase;
}

.ExperienceLegend {
  text-align: justify;
  color: grey;
  font-style: italic;
}

.Missions {
  margin-top: 15px;
  color: #fff;
}

.ItemSeparator {
  margin: 20px 0;
  color: #fff;
}