.ProfilePage {
  padding: 20px 0;
  transition: 0.3s ease-in-out;
}

.ProfilePage header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ProfileDescription {
  position: relative;
  overflow: hidden;
}
.ProfileDescription:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  right: -15px;
  box-shadow: inset rgb(0, 0, 0) 0 -5px 10px;
}
.ProfileDescription p {
  text-align: justify;
  color: grey;
  margin-bottom: 10px;
}
header button {
  padding: 4px 8px;
  background-color: grey;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ProfileRedirection {
  padding: 20px 0;
  border-top: 1px solid grey;
}
.ProfileRedirection p {
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}
.ProfileRedirection a {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.ProfileRedirection img {
  width: 150px;
}

@media screen and (min-width: 450px) {
  .ProfileDescription p {
    margin-bottom: 15px;
    font-size: 1.5em;
  }
  header button {
    padding: 7px 15px;
    margin-bottom: 15px;
    font-size: 1.5em;
  }
  .ProfileRedirection img {
    width: 200px;
  }
  .ProfileRedirection p {
    font-size: 1.5em;
  }
}