.Header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70px;
  z-index: 1;
  background-color: var(--bg-color);
  border-bottom: 1px solid rgb(61, 60, 60);
}

.HeaderLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 15%;
}

.HeaderLogoContainer img {
  height: 70%;
}

.Navbar {
  width: 72%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavList {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.NavItem {
  color: #fff;
}

.HeaderLang {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 13%;
  height: 40%;
  border-left: 1px solid grey;
}

.HeaderLang p {
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .HeaderLogoContainer {
    width: 35%;
  }
  .Navbar {
    width: 55%;
  }
  .HeaderLang {
    width: 10%;
  }
}