.HomeLanding {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeLandingHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HomeLanding img {
  width: 90%;
  margin-bottom: 20px;
}

.HomeLandingIntro {
  margin: 15px 0;
}

.HomeLanding p {
  margin-bottom: 10px;
  text-align: justify;
  font-style: italic;
  color: grey;
}

.HomeLanding-Options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Option {
  margin: 5px 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #f8002d;
  color: #fff;
}
.Option:first-of-type {
  background-color: grey;
}
.Option:nth-of-type(2) {
  background-color: #fff;
  color: #000;
}

@media screen and (min-width: 450px) {
  .HomeLanding img {
    width: 70%;
    margin-top: 50px;
  }
  .HomeLandingIntro p {
    font-size: 1.5em;
  }
  .Option {
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.7em;
  }
}

@media screen and (min-width: 769px) {
  .HomeLandingHeader {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }
  .HomeLanding img {
    width: 40%;
  }
  .HomeLandingIntro {
    width: 40%;
    margin-left: 50px;
  }
}