.UserPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  transition: 1s ease-in-out;
  padding: 0 20px;
}

.topLogo {
  width: 40%;
  position: absolute;
  top: 20px;
}

.UserPage h1 {
  color: #fff;
}

.UsersContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 25px 0;
}

.User {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.User a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.User img {
  margin-bottom: 10px;
  filter: grayscale(0.5);
  cursor: pointer;
}

.User img:hover {
  filter: grayscale(0);
}

.User h3 {
  color: #fff;
  text-transform: uppercase;
}

.LanguageTip {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: grey;
}
.LanguageTip .icon {
  font-size: 30px;
  margin-right: 10px;
}

@media screen and (min-width: 450px) {

  .UserPage h1 {
    font-size: 3.5em;
    margin-bottom: 50px;
  }

  .UsersContainer {
    margin-bottom: 150px;
  }
  .User {
    width: 50%;
  }
  .User a {
    width: 70%;
  }
  .User img {
    width: 100%;
  }
  .User h3 {
    font-size: 2em;
  }

  .LanguageTip {
    width: 80%;
  }
  .LanguageTip .icon {
    font-size: 3em;
    margin-right: 20px;
  }
  .LanguageTip p {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 769px) {
  .topLogo {
    width: 20%;
  }
  .UserPage h1 {
    margin-top: 5%;
  }
  .UsersContainer {
    width: 40%;
  }
}