.UserPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  transition: 1s ease-in-out;
  padding: 0 20px;
}

.topLogo {
  width: 40%;
  position: absolute;
  top: 20px;
}

.UserPage h1 {
  color: #fff;
}

.UsersContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 25px 0;
}

.User {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 150px;
}

.User img {
  margin-bottom: 10px;
  filter: grayscale(0.5);
  cursor: pointer;
}

.User img:hover {
  margin-bottom: 0;
  filter: grayscale(0);
  border: 5px solid #fff;
}

.User h3 {
  color: #fff;
  text-transform: uppercase;
}

.LanguageTip {
  display: flex;
  align-items: center;
  text-align: justify;
  color: grey;
}
.LanguageTip .icon {
  font-size: 30px;
  margin-right: 10px;
}